@media (min-width: 780px) {
  .container {
    width: 100%;
    height: 680px;
    flex-shrink: 0;
    background-color: var(--Purple-30, #dbd9ff);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 70px;
  }
  .header {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  .dataCard {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    gap: 28px;
    width: 440px;
    height: 260px;
    flex-shrink: 0;
    background-color: #fff;
    filter: drop-shadow(0px 6px 50px rgba(0, 0, 0, 0.1));
  }

  .textCard {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .textHeader {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .textDesc {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .direction {
    display: flex;
    gap: 40px;
  }
  .directionPath {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }
  .directionText {
    color: #ff7361;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ff7361;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .stepsWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 120px;
  }
  .step {
    position: relative;
    display: inline-block;
  }
  .stepNumber {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid #ddd;
    width: 70px;
    height: 70px;
    line-height: 28px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stepBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
  }
  .stepIcon {
    font-size: 30px;
  }
  .navigation {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-self: center;
  }

  .activeCard {
    background: #eaeaf5;
  }
}

@media (max-width: 780px) {
  .container {
    width: 100%;
    height: 750px;
    flex-shrink: 0;
    background-color: var(--Purple-30, #dbd9ff);
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 70px;
  }
  .header {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  .slideContainer {
    flex-shrink: 0;
    width: 100%;
    margin-top: 120px;
    overflow: hidden;
  }

  .textCard {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .textHeader {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .textDesc {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .direction {
    display: flex;
    gap: 40px;
  }
  .directionPath {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .directionText {
    color: #ff7361;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ff7361;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .stepsWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 274px;
  }
  .step {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .stepNumber {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid #ddd;
    width: 70px;
    height: 70px;
    line-height: 28px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stepBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .stepIcon {
    font-size: 30px;
  }
  .navigation {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-self: center;
  }

  .activeCard {
    background: #eaeaf5;
  }
}
