@media (min-width: 780px) {
  .container {
    width: 100%;
    height: 670px;
    flex-shrink: 0;
    background-color: var(--Orange-30, #ffdcd8);
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 80px;
  }
  .header {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 780px) {
  .container {
    width: 100%;
    height: 615px;
    flex-shrink: 0;
    background-color: var(--Orange-30, #ffdcd8);
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 80px;
  }
  .header {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
}
