@media (min-width: 780px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .mainheader {
    color: var(--Text-Dark, #0e1b2c);
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  .largeCardContent {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 530px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
  }

  .smallCardContainer {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  .smallCardContent {
    display: flex;
    width: 570px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
  }
  .largeDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 30px 54px 30px;
    gap: 9px;
  }
  .smallDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 3px;
  }

  .header {
    color: var(--Text-Dark, #0e1b2c);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
  }
  .largeImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .smallImg {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .desc {
    color: var(--Text-Gray, #64647a);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    padding-bottom: 11px;
  }

  .infoContainer {
    display: flex;
    gap: 30px;
  }

  .footerContent {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .smallFootercontent {
    display: flex;
    gap: 12px;
    padding-top: 17px;
  }
  .footerComponent {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
  }
}

@media (max-width: 780px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 90px;
    height: 647px;
    width: 100%;
    flex-shrink: 0;
    background-color: white;
  }

  .mainheader {
    color: var(--Text-Dark, #0e1b2c);
    align-self: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  .largeCardContent {
    display: none;
  }

  .infoContainer {
    width: 100%;
  }

  .smallCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 472px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }

  .smallDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px 42px 30px;
    gap: 3px;
    box-sizing: border-box;
    width: 300px;
  }

  .header {
    color: var(--Text-Dark, #0e1b2c);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
    flex-shrink: 1;
  }
  .largeImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .smallImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    height: 180px;
  }
  .desc {
    color: var(--Text-Gray, #64647a);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    padding-bottom: 11px;
    flex-shrink: 0;
  }

  .smallFootercontent {
    display: flex;
    gap: 12px;
    padding-top: 30px;
  }
  .footerComponent {
    display: flex;
    align-items: center;
    gap: 14px;
    align-self: center;
  }
}

.time {
  color: #226cf5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.button {
  color: #ff7361;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #ff7361;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
