@media (min-width: 780px) {
  .container {
    width: 100%;
    height: 346px;
    flex-shrink: 0;
    position: relative;
    background-image: url("../../assests/bottomBackground.svg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .header {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  .dataContent {
    display: flex;
    gap: 20px;
  }

  .email {
    width: 300px;
    flex-shrink: 0;
    background-color: #fff;
  }

  .inputField {
    width: 300px;
    height: 48px;
    flex-shrink: 0;
    background-color: #fff;
    padding: 10px;
  }

  .footerIcon {
    position: absolute;
    bottom: 260px;
    left: 226px;
    width: 121px;
    height: 131px;
  }

  .divider {
    display: none;
  }

  .exploreCard {
    width: 150px;
  }
}

@media (max-width: 780px) {
  .container {
    height: 468.5px;
    flex-shrink: 0;
    position: relative;
    background-image: url("../../assests/mobileBottomBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .content {
    padding-top: 63px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .header {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  .dataContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .email {
    width: 300px;
    height: 48px;
    flex-shrink: 0;
    background-color: #fff;
    box-sizing: border-box;
  }

  .inputField {
    width: 300px;
    height: 48px;
    flex-shrink: 0;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
  }

  .footerIcon {
    position: absolute;
    bottom: 415px;
    left: 20px;
    width: 55px;
    height: 60px;
  }

  .divider {
    width: 100%;
    stroke-width: 1px;
    stroke: #fff;
    opacity: 0.1;
  }

  .exploreCard {
    width: 300px;
  }
}
